/* Overlay styling */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-games-container {
  width: 100vw;
}

/* Form card styling */
.form-card {
  z-index: 1;
  background: #000000; /* Set this to your desired background color */
  border-radius: 8px; /* Add rounded corners for a modern look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
  padding: 20px; /* Increase padding for better spacing */
  width: 300px; /* Adjust width for more content space */
  max-width: 80%; /* Set a maximum width for responsiveness */
  position: relative; /* Ensure relative positioning for child elements */
}

/* Heading inside the form card */
.form-card h2 {
  color: #333; /* Set heading color */
  margin-bottom: 15px; /* Add spacing below the heading */
}

/* Form input styling */
.form-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: 1px solid #504949; /* Add a subtle border */
  border-radius: 4px; /* Add rounded corners for input fields */
}
.form-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: 1px solid #504949; /* Add a subtle border */
  border-radius: 4px; /* Add rounded corners for input fields */
}

/* Submit button styling */
.form-card button {
  background-color: #4caf50; /* Set button background color */
  color: #fff; /* Set button text color */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Add hover effect for the submit button */
.form-card button:hover {
  background-color: #45a049;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -30px;
  border-radius: 30%;
  cursor: pointer;
  background: firebrick;
  border: none;
  font-size: 16px;
  color: #fff;
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}

.pagination a {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #2980b9;
}

.pagination a.active {
  background-color: #2c3e50;
}
